@font-face {
  font-family: 'Material Design Icons';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/materialdesignicons-webfont.woff2') format('woff2'),
       url('./fonts/materialdesignicons-webfont.woff') format('woff'),
       url('./fonts/materialdesignicons-webfont.ttf') format('truetype');
}

.mdi {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 